<!DOCTYPE html>
<html>
<head>
  <title>Pgheroine</title>
  <%= stylesheet_link_tag    "pgheroine/application", media: "all" %>
  <%= javascript_include_tag "pgheroine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
